<div class="d-flex flex-column align-items-center justify-content-center">
    <h1>Expense Report</h1>
    <div>
    <%= form_tag report_path,method: :post do%>
        <div class="my-3">
            <%= label_tag :month,"Specify Month" %>
            <%= select_tag :month,options_for_select([["This Month",Time.now.month]]+(1..12).to_a),class:"custom-select" %>
        </div>
        <div class="mb-3">
            <%= label_tag :year,"Specify Year" %>
            <%= select_tag :year,options_for_select([["This Year",Time.zone.now.year]]+(2000..Time.zone.now.year).to_a),class:"custom-select" %>
        </div>
        
        <div class="mb-3 d-flex align-items-center justify-content-center">
            <%= submit_tag "Generate Report", class:"btn btn-primary " %>
        </div>
        <%end%>
        <%if @generated %>
            <div>
                <div class="mb-3">
                    <%="Credited: #{@credited}" %>
                </div>
                <div class="mb-3">
                    <%="Debited: #{@debited} #{@p1} #{@p2} #{@x}" %>
                </div>
                <div class="mb-3">
                    <%="Net Profit: #{@credited-@debited}" %>
                </div>
            </div>
        <%end%>
    </div>
</div>
