<div>
    
    <table class="table table-hover  table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Last Edited</th>
            <th scope="col">Delete</th>
            <th scope="col">Image</th>
            <th scope="col">Approval</th>
            <th scope="col">Determined</th>
            </tr>
        </thead>
        <tbody>
        <% i=1 %>
        <% @transactions.each do |transaction| %>
            <% if transaction.status == "rejected" %>
                <tr class="bg-secondary">
            <% elsif transaction.sign %>
                <tr class="bg-success text-white">
            <% else %>
                <tr class="bg-danger text-white">
            <% end %>
            <th scope="row"><%= i %></th>
            <td><%=transaction.amount%></td>
            <td><%=transaction.description!="" ? transaction.description : "___"%></td>
            <% if transaction.sign %>
                <td><%= "Credit" %></td>
            <% else %>
                <td><%= "Debit" %></td>
            <% end %>
            <td><%=User.find_name(transaction.created_by)%><br> <%=transaction.created_at.strftime("%H:%M, %d %B %Y")%></td>
            <% if transaction.status == "undetermined" %>
            <td><%= link_to "Edit", edit_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info"%></td>
            <% else %>
            <td><%= link_to "Edit", edit_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info disabled",disabled:true  %></td>
            <% end %>
            <td>
            <% if transaction.updated_by %>
                <% if User.where(id:transaction.updated_by).empty? %>
                    <%= "User Deleted" %>
                <% else %>
                    <%=User.find_name(transaction.updated_by)%>
                <% end %>
                  <br>  <%=transaction.updated_at.strftime("%H:%M, %d %B %Y")%>
                <%else%>
                    ___
                <% end %>
            </td>
            <% if transaction.status == "approved" %>
                <td><%= button_to "Delete", ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), method: :delete, class:"btn btn-warning disabled", disabled:true %></td>
            <% else %>
                <td><%= button_to "Delete", ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), method: :delete, class:"btn btn-warning"%></td>
            <% end %>
            <% if transaction.document.attached? %>
                <td><%=link_to 'View', url_for(transaction.document),class:"btn btn-primary mb-2 bc-1 d-flex justify-content-center align-items-center",target: :blank%>
                <% if transaction.status == "undetermined" %>          
                    <%= button_to delete_document_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), method: :delete,class:"btn btn-warning  bc-2 d-flex justify-content-center align-items-center" do%>
                        Remove <i class="fa fa-trash"></i>
                    <% end %>
                <% else %>
                    <%= button_to delete_document_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), method: :delete,class:"btn btn-warning  bc-2 d-flex justify-content-center align-items-center disabled",disabled:true do%>
                        Remove <i class="fa fa-trash"></i>
                    <% end %>
                <%end%>
                
                </td>
            <% else %>
            <td>
                <% if transaction.status == "undetermined" %>          
                    <%= link_to "Upload", edit_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info d-flex justify-content-center align-items-center"%>
                <% else %>
                    <%= link_to "Upload", edit_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info d-flex justify-content-center align-items-center disabled",disabled:true %>
                <% end %>
            <% end %>
            </td>
            <td>
                <%if transaction.status == "undetermined"  %>
                    <%= button_to "Approve", approval_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id),method: :patch, class:"btn btn-info d-flex justify-content-center align-items-center bc-4 mb-2"%>
                    <%= button_to "Reject", rejection_ledger_transaction_path(id:transaction.id,ledger_id:@ledger.id),method: :patch, class:"btn btn-info d-flex justify-content-center align-items-center bc-5  btn-block"%>
                <%elsif transaction.status == "approved" %>
                    <%= "Approved" %>
                <% else %>
                    <%= "Rejected" %>
                <% end %>
            </td>
            <td>
                <% if transaction.status == "undetermined" %>
                    ___
                <%else%>
                    <% if User.where(id:transaction.determined_by).empty? %>
                        <%= "User Deleted" %>
                    <% else %>
                        <%=User.find_name(transaction.determined_by)%>
                    <% end %>

                    <br>  <%=transaction.determined_at.strftime("%H:%M, %d %B %Y")%>
                <% end %>
            </td>
            </tr>  
        <% i+=1 %>
        <% end %>
        </tbody>
    </table>
    <%= link_to "New Transaction", new_ledger_transaction_path(ledger_id:@ledger.id),class:"btn btn-primary" %>
    <%= link_to "Back to Ledgers", root_path,class:"btn btn-primary" %>
    
</div>
