<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <%= link_to "Ecash", root_path,class:"navbar-brand" %>
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to "Home", root_path,class:"nav-link" %>
      </li>
      <% if logged_in? %>  

      <li class="nav-item">
        <%= link_to "All Transactions",all_records_ledgers_path,class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Report', report_path ,class:"nav-link" %>
      </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "About",about_path ,class:"nav-link" %>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item dropdown pad">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= @user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= button_to 'Log-out', logout_user_path(id:@user.id) ,method: :delete,class:"dropdown-item" %>
          </div>
        </li>
      <% else %>
      <li class="nav-item mx-2">
        <%= link_to "Sign Up",new_user_path ,class:"btn btn-primary col" %>
      </li>
      <li class="nav-item mx-2">
        <%= link_to "Log In",login_users_path ,class:"btn btn-primary col" %>
      </li>
    <% end %> 
    </ul>   
    
  </div>
</nav>