<%= form_with model:@transaction,url: new_transaction_all_path(ledger_id:params[:ledger_id]) do |form| %>
    <% if @transaction.errors.any? %>
        <div class="alert alert-danger">
            <% @transaction.errors.full_messages.each do |m| %>
                <div><%= m %></div>
            <% end %>
        </div>
    <% end %>
    <div class="mb-3">
        <%= form.label :amount %>
        <%= form.number_field :amount, class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_area :description, size:"10x3", class:"form-control" %>
    </div>
    <div class="text-center mb-3">
    <h6><strong>Transaction Type</strong></h6>
    </div>
    <div class="mb-3 pad2">
        <%= form.radio_button :sign,true, class:"form-check-input" %>
        <%= form.label :sign_true,"Credit" ,class:"form-check-label" %>
    </div>
    
    <div class="mb-3 pad2">
        <%= form.radio_button :sign,false, class:"form-check-input" %>
        <%= form.label :sign_false,"Debit",class:"form-check-label" %>
    </div>
    <div class="mb-3 wid-set">
       <%= form.file_field :document,accept: "image/*,application/pdf",class:"form-control"%>
    </div>
    <div class="mb-3 d-flex align-items-center justify-content-center">
        <%= form.submit "Post Transaction", class:"btn btn-primary " %>
    </div>
<% end %>
