<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <h1 class>Welcome to Ecash</h1>
    </div>
    <% if @user %>


<h3>Ledgers</h3>

<div class="table-responsive-md">
    
    <table class="table table-hover table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Total Credit</th>
            <th scope="col">Total Debit</th>
            <th scope="col">Net Profit</th>
            <th scope="col">Expand</th>
            <th scope="col">Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Last Edited</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
        <% i=1 %>
        <% @ledgers.each do |ledger| %>
            <%  credit_amount=ledger.transactions.calulate_sum(true)
                debit_amount=ledger.transactions.calulate_sum(false)
                net_profit =credit_amount-debit_amount
            %>

            <tr>
            <th scope="row"><%= i %></th>
            <td><%= ledger.name %></td>
            <td><%= credit_amount %></td>
            <td><%= debit_amount %></td>
            <td><%= net_profit %></td>
            <td><%= link_to "Expand",ledger_transactions_path(ledger_id:ledger.id), class:"btn btn-success"%></td>
            <td><%= User.find_name(ledger.created_by) %><br><%=ledger.created_at.strftime("%H:%M, %d %B %Y")%></td>
            <td><%= link_to "Edit", edit_ledger_path(ledger.id), class:"btn btn-info"%></td>
            <td>
            <% if ledger.updated_by %>
                <%=User.find_name(ledger.updated_by)%>  <br>  <%=ledger.updated_at.strftime("%H:%M, %d %B %Y")%>
                <%else%>
                    ___
                <% end %>
                </td>
            <td><%= button_to "Delete", ledger_path(ledger.id), method: :delete, class:"btn btn-warning"%></td>
            </tr>  
        <% i+=1 %>
        <% end %>
        </tbody>
    </table>
    <%= link_to "New Ledger", new_ledger_path,class:"btn btn-primary" %>
    
</div>
    <% else %>
    <div class="mb-30 text-center">
        <h5>Login or Sign-up to Continue</h5>
    </div>
    <% end %>
    
</div>