<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <h1 class="mb-3">All Transactions</h1>
    </div>
    <div>
        <%=form_tag all_records_filter_ledgers_path,method: :post do%>
            <div class="mb-3">
            <%= label_tag :criteria,"Transaction Filter",class:"d-flex flex-column align-items-center justify-content-center" %>
            <%= select_tag :criteria,options_for_select(
            [
            ["All Transactions",[Time.parse("2000-01-01").strftime("%Y-%m-%d").to_date,Time.zone.now.to_date]],
            ["This Month",[Time.zone.now.beginning_of_month.to_date,Time.zone.now.to_date]],
            ["Last Month",[(Time.zone.now-1.month).beginning_of_month.to_date,(Time.zone.now-1.month).end_of_month.to_date]],
            ["This Quarter",[Time.zone.now.beginning_of_quarter.to_date,Time.zone.now.to_date]],
            ["Last Quarter",[Time.zone.now.last_quarter.beginning_of_quarter.to_date,Time.zone.now.last_quarter.end_of_quarter.to_date]],
            ["Last Year",[(Time.zone.now-1.year).to_date,Time.zone.now.to_date]],
            ],selected: params[:criteria]
            ),class:"custom-select", onchange: "this.form.submit()" %>
            </div>
        <% end %>
        </div>
        <div class="table-responsive-md">
    
    <table class="table table-hover  table-bordered text-center t-small">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Ledger</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Created</th>
            <th scope="col">Last Edited</th>
            <th scope="col">Image</th>
            <th scope="col">Approval</th>
            <th scope="col">Determined</th>
            </tr>
        </thead>
        <tbody>
        <% i=1 %>
        <% @transactions.each do |transaction| %>
            <% if transaction.status == "rejected" %>
                <tr class="bg-secondary">
            <% elsif transaction.sign %>
                <tr class="bg-success text-white">
            <% else %>
                <tr class="bg-danger text-white">
            <% end %>
            <th scope="row"><%= i %></th>
            <td><%= Ledger.find_name(transaction.ledger_id) %></td>
            <td><%= transaction.amount%></td>
            <td><%= transaction.description!="" ? transaction.description : "___" %></td>
            <% if transaction.sign %>
                <td><%= "Credit" %></td>
            <% else %>
                <td><%= "Debit" %></td>
            <% end %>
            <td ><%= User.find_name(transaction.created_by) %><br> <%= transaction.created_at.strftime("%H:%M, %d %B %Y") %></td>
            <td >
            <% if transaction.updated_by %>
                <% if User.where(id:transaction.updated_by).empty? %>
                    <%= "User Deleted" %>
                <% else %>
                    <%= User.find_name(transaction.updated_by) %>
                <% end %>

                <br>  <%= transaction.updated_at.strftime("%H:%M, %d %B %Y") %>
                <%else%>
                    ___
                <% end %>
            </td>
            <% if transaction.document.attached? %>
                <td>
                    <%= link_to 'View', url_for(transaction.document), class:"btn btn-primary mb-2 bc-1 d-flex justify-content-center align-items-center", target: :blank %>
                </td>
            <% else %>
            <td >
                <%= "___" %>
            </td>
            <% end %>
            <td >
                <% if transaction.status == "undetermined" %>
                    <%="Not Determined"%>
                <% elsif transaction.status == "approved" %>
                    <%= "Approved" %>
                <% else %>
                    <%= "Rejected" %>
                <% end %>
            </td>
            <td >
                <% if transaction.status == "undetermined" %>
                    ___
                <%else%>
                    <% if User.where(id:transaction.determined_by).empty? %>
                        <%= "User Deleted" %>
                    <% else %>
                        <%= User.find_name(transaction.determined_by) %>
                    <% end %>
                    <br>  <%= transaction.determined_at.strftime("%H:%M, %d %B %Y") %>
                <% end %>
            </td>
            </tr>  
        <% i+=1 %>
        <% end %>
        </tbody>
    </table>
    
</div>
</div>
