<div class="d-flex flex-column align-items-center justify-content-center">
    <div>
        <h1 class="mb-3">Transactions</h1>
    </div>
    <div>
        <h5 class="mb-3">Name: <%= @ledger.name %></h5>
    </div>
    <div>
        <%=form_tag show_transactions_path(ledger_id:params[:ledger_id]),method: :post do%>
            <div class="mb-3">
            <%= label_tag :criteria,"Transaction Filter",class:"d-flex flex-column align-items-center justify-content-center" %>
            <%= select_tag :criteria,options_for_select(
            [
            ["All Transactions",[Time.parse("2000-01-01").strftime("%Y-%m-%d").to_date,Time.zone.now.to_date]],
            ["This Month",[Time.zone.now.beginning_of_month.to_date,Time.zone.now.to_date]],
            ["Last Month",[(Time.zone.now-1.month).beginning_of_month.to_date,(Time.zone.now-1.month).end_of_month.to_date]],
            ["This Quarter",[Time.zone.now.beginning_of_quarter.to_date,Time.zone.now.to_date]],
            ["Last Quarter",[Time.zone.now.last_quarter.beginning_of_quarter.to_date,Time.zone.now.last_quarter.end_of_quarter.to_date]],
            ["Last Year",[(Time.zone.now-1.year).to_date,Time.zone.now.to_date]],
            ],selected: params[:criteria]
            ),class:"custom-select", onchange: "this.form.submit()" %>
            </div>
        <% end %>
    </div>
    
    <div class="table-responsive-md">
    
    <table class="table table-hover  table-bordered text-center">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Last Edited</th>
            <th scope="col">Delete</th>
            <th scope="col">Image</th>
            <th scope="col">Approval</th>
            <th scope="col">Determined</th>
            </tr>
        </thead>
        <tbody>
        <% i=1 %>
        <% @transactions.each do |transaction| %>
            <% if transaction.determination == false %>
                <tr class="bg-secondary">
            <% elsif transaction.sign %>
                <tr class="bg-success text-white">
            <% else %>
                <tr class="bg-danger text-white">
            <% end %>
            <th scope="row"><%= i %></th>
            <td><%=transaction.amount%></td>
            <td><%=transaction.description!="" ? transaction.description : "___"%></td>
            <% if transaction.sign %>
                <td><%= "Credit" %></td>
            <% else %>
                <td><%= "Debit" %></td>
            <% end %>
            <td><%=transaction.created_at.strftime("%H:%M, %d %B %Y")%></td>
            <% if transaction.determination == nil %>
            <td><%= link_to "Edit", edit_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info"%></td>
            <% else %>
            <td><%= link_to "Edit", edit_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info disabled",disabled:true  %></td>
            <% end %>
            <td>
            <% if transaction.updated_by %>
                <%= transaction.updated_by == @user.id.to_s ?  "Self" : User.find(transaction.updated_by).name  %>  <br>  <%=transaction.updated_at.strftime("%H:%M, %d %B %Y")%>
                <%else%>
                    ___
                <% end %>
            </td>
            <% if transaction.determination %>
                <td><%= button_to "Delete", destroy_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id), method: :delete, class:"btn btn-warning disabled", disabled:true %></td>
            <% else %>
                <td><%= button_to "Delete", destroy_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id), method: :delete, class:"btn btn-warning"%></td>
            <% end %>
            <% if transaction.document.attached? %>
                <td><%=link_to 'View', url_for(transaction.document),class:"btn btn-primary mb-2 bc-1 d-flex justify-content-center align-items-center",target: :blank%>
                <% if transaction.determination==nil %>          
                    <%= button_to delete_document_path(transaction_id:transaction.id,ledger_id:@ledger.id), method: :delete,class:"btn btn-warning  bc-2 d-flex justify-content-center align-items-center" do%>
                        Remove <i class="fa fa-trash"></i>
                    <% end %>
                <% else %>
                    <%= button_to delete_document_path(transaction_id:transaction.id,ledger_id:@ledger.id), method: :delete,class:"btn btn-warning  bc-2 d-flex justify-content-center align-items-center disabled",disabled:true do%>
                        Remove <i class="fa fa-trash"></i>
                    <% end %>
                <%end%>
                </td>
            <% else %>
                <td>
                <% if transaction.determination==nil %>          
                    <%= link_to "Upload", edit_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info d-flex justify-content-center align-items-center"%>
                <% else %>
                    <%= link_to "Upload", edit_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id), class:"btn btn-info d-flex justify-content-center align-items-center disabled",disabled:true %>
                <% end %>
                </td> 
            <% end %>
            <td>
                <%if transaction.determination == nil  %>
                    <%= button_to "Approve", approve_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id),method: :patch, class:"btn btn-info d-flex justify-content-center align-items-center bc-4 mb-2"%>
                    <%= button_to "Reject", reject_transaction_path(transaction_id:transaction.id,ledger_id:@ledger.id),method: :patch, class:"btn btn-info d-flex justify-content-center align-items-center bc-5  btn-block"%>
                <%elsif transaction.determination == true %>
                    <%= "Approved" %>
                <% else %>
                    <%= "Rejected" %>
                <% end %>
            </td>
            <td>
                <% if transaction.determination == nil %>
                    ___
                <%else%>
                    <%=User.find(transaction.determined_by).name %>  <br>  <%=transaction.determined_at.strftime("%H:%M, %d %B %Y")%>
                <% end %>
            </td>
            </tr>  

        <% i+=1 %>
        <% end %>
        </tbody>
    </table>
    <%= link_to "New Transaction", new_transaction_path(ledger_id:@ledger.id),class:"btn btn-primary" %>
    <%= link_to "Back to Ledgers", personal_path,class:"btn btn-primary" %>
    

    </div>    
</div>